* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // position: relative;
}

// 公共 字体
.common_hj_font_style {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

// 公共一行
.hj_ppt_inline {
  display: inline-block;
}

// 不是第一个
.hj_ppt_inline:not(:first-child) {
  margin-left: 20px;
}

.hj_ppt_a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent; //透明
  font-size: 1em;
  border-bottom: 1px solid transparent;
  display: inline-block;
}



// 快速年份的小字
.fast_year_font {
  font-size: 1em;
}

.fast_year_style {
  height: 58px;
  line-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hj_ppt_font {
  color: #23527c;
}

.higet_ppt_pointer {
  cursor: pointer;
}


.higet_ppt_pointer:hover {
  cursor: pointer;
  color: #23527c;
  text-decoration: underline;
}

.hj_final_all {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.hj_margin-left-class {
  margin-left: 20px;
}

// 下拉框部分的头部部分
.hj_head_ppt {
  height: 125px;
}

.hj_head_ppt_filter_div_name {
  font-weight: 700;
}

.hj_head_ppt_filter_div {
  height: 58px;
  display: flex;
  align-items: center;
}

.hj_head_ppt_filter_div_select {
  width: 218px;
  height: 38px;
}

.hj_head_ppt_title_div {
  height: 67px;
  padding-top: 10px;
}

.hj_head_ppt_title_div_hr {
  background: #ccc;
  border: none;
  height: 1px;
  width: 100%;
  // margin: 0 20px 20px 20px;
}

.text-center {
  text-align: center;
}

.title_style {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.hj_font_size {
  font-size: 18px;
}

.hj_font_size_little {
  font-size: 14px;
}

// .title_big {

// }

.title_small {
  padding: 10px 0;
}

// 下拉框部分的下面部分
.hj_all_ppt {
  display: flex;
  width: 100%;
  height: calc(100% - 125px);
  // position: relative;
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
}

.hj_slider {
  box-sizing: border-box;
  width: 15%;
  min-height: 100%;
  border-right: 1px solid rgb(13, 74, 137);
  overflow: auto;
  padding-top: 10px;
}

.hj_slider_select {
  width: 88%;
}

.hj_slider_select_zoom_adjust {
  width: 12%;
}

.hj_right_adjust_icon_father {
  margin-left: 88%;
  text-align: right;
  width: 23px;
  line-height: 23px;
}

.hj_right_adjust_icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtdi1lYTg5MzcyOD0iIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik02MDkuNDA4IDE0OS4zNzYgMjc3Ljc2IDQ4OS42YTMyIDMyIDAgMCAwIDAgNDQuNjcybDMzMS42NDggMzQwLjM1MmEyOS4xMiAyOS4xMiAwIDAgMCA0MS43MjggMCAzMC41OTIgMzAuNTkyIDAgMCAwIDAtNDIuNzUyTDMzOS4yNjQgNTExLjkzNmwzMTEuODcyLTMxOS44NzJhMzAuNTkyIDMwLjU5MiAwIDAgMCAwLTQyLjY4OCAyOS4xMiAyOS4xMiAwIDAgMC00MS43MjggMHoiPjwvcGF0aD48L3N2Zz4=);
  width: 23px;
  height: 23px;
  background-size: cover;
  // font-weight: 700;
  position: sticky;
  // top: 0;
  cursor: pointer;
}

.hj_slider_content {
  height: 23px;
  display: flex;
  align-items: center;
  justify-self: center;
}

// .hj_slider_bottom_line {
//   height: 2px;
//   width: 90%;
//   background-color: black;
//   margin: 20px 0;
// }
.hj_slider_bottom_line {
  margin: 15px 0;
  width: 50%;
  height: 1px;
  background-color: #0d4a89;
}

.higet_ppt_span_bold {
  font-weight: 700;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

.hj_sidebar_categroy_ppt_this {
  background-color: #eee;
}

.hj_sidebar_ppt_item {
  vertical-align: middle;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.hj_sidebar_icon {
  width: 5px;
  min-width: 5px;
  height: 10px;
  background-color: #05588a;
  display: inline-block;
  margin: auto 5px auto 0;
}

.hj_siderbar_ppt_height {
  height: 20px;
}

.hj_siderbar_ppt_font {
  // line-height: 24px;
  font: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}

.hj_sidebar_category_ppt {
  max-height: 235px;
  overflow: auto;
}

